<% content_for :title, @project.title %>

<div class="project">
    <span class="title">
        <%= @project.title %>
    </span>
    <span class="description">
        <%= @project.description %>
    </span>

    <div class="todo-lists" data-component="todo-list">
      <h3>Todo Lists</h3>
      <%= button_tag "New Todo List", data: {action: 'new-todo'} %>

      <div class="new-todo hide" data-container="new-todo">
        <input type="text" name="title" id="" placeholder="Enter a title" />
        <input type="text" name="description" id="" placeholder="Enter a description" />
        <%= button_tag "Create Todo", data: {action: "create-todo"} %>
        <%= button_tag "Cancel", data: {action: "cancel"}, class: "red" %>
      </div>
    </div>

</div>
